SERVER_HOST=0.0.0.0
SERVER_PORT=22
SERVER_USER=root
SERVER_PASSWORD=R5sZk
SERVER_TYPE=ssh # or ftp
REMOTE_DIR=/home/task_archive/
BACKUP_DIR=./backups
DELETE_REMOTE=true # Удалять папки на сервере после создания бэкапа
RETENTION_DAYS=90
INTERVAL=24 # Hours between backups
START=23:59 # Time for first backup (HH:mm)